@charset "utf-8";
@font-face { font-family: 'HBIOS-SYS'; font-weight: 400; font-style: normal; font-display: block; src: url('../HBIOS-SYS.woff2') format('woff2'), url('../HBIOS-SYS.ttf') format('truetype'); }
* { font-size: 16px !important; font-weight: 400 !important; line-height: 16px !important; box-sizing: border-box; image-rendering: -webkit-optimize-contrast; image-rendering: crisp-edges; image-rendering: pixelated; word-break: break-all; white-space: normal; filter: grayscale(1); }
html, body, .dos, .swiper, .swiper *, li { filter: initial; }
.swiper-pagination * { filter: grayscale(1); }
h1, h2, h3, h4, h5, h6, p, ul, ol, li { margin: 0; padding: 0; }
body { margin: 48px 0; }
ul { position: relative; padding-left: 24px; margin: 0; list-style: none; }
li { margin-bottom: 16px; }
li:before { content: '*'; position: absolute; left: 0; }
li.ref:before { content: '※'; position: absolute; left: 0; }
h2 { padding-bottom: 6px; margin-top: 48px; margin-bottom: 23px; border-bottom: 3px double #aaa; }
p { margin: 16px 0; }
html, body, pre, code { font-family: 'HBIOS-SYS', monospace; }
pre { border: 1px solid #aaa; border-width: 1px 2px; padding: 7px 14px; }
.dos { max-width: 656px; padding: 0 8px; margin: 0 auto; }
.glyphs { word-break: break-all; }
.blink { animation: .2s blink step-end infinite; }
hr { border: none; background-color: #aaa; height: 1px; margin-top: 24px; margin-bottom: 23px; }
@media screen and (max-width: 720px) {
  body { margin: 16px 0; }
}
@keyframes blink {
  50% { opacity: 0; }
}
@keyframes flicker {
  0% { opacity: 0.27861; }
  5% { opacity: 0.34769; }
  10% { opacity: 0.23604; }
  15% { opacity: 0.90626; }
  20% { opacity: 0.18128; }
  25% { opacity: 0.83891; }
  30% { opacity: 0.65583; }
  35% { opacity: 0.67807; }
  40% { opacity: 0.26559; }
  45% { opacity: 0.84693; }
  50% { opacity: 0.96019; }
  55% { opacity: 0.08594; }
  60% { opacity: 0.20313; }
  65% { opacity: 0.71988; }
  70% { opacity: 0.53455; }
  75% { opacity: 0.37288; }
  80% { opacity: 0.71428; }
  85% { opacity: 0.70419; }
  90% { opacity: 0.7003; }
  95% { opacity: 0.36108; }
  100% { opacity: 0.24387; }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18,16,16,.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,.2) 50%), linear-gradient(90deg, rgba(255,0,0,.06), rgba(0,255,0,.04), rgba(0,0,255,.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt { text-shadow: 1px 0 1px rgba(0,30,255,.5), -1px 0 1px rgba(255,0,80,.3), 0 0 .5px; }
.swiper-pagination { width: fit-content !important; bottom: 8px !important; left: initial !important; right: 8px; background: rgba(0,0,0,.5); padding: 0 8px; backdrop-filter: blur(8px); }
